blue:
  ports:
    - 5000
  environment:
    - SERVICE_NAME={{ alias }}ssv4-blue
  image: training/webapp


green:
  ports:
    - 5000
  environment:
    - SERVICE_NAME={{ alias }}ssv4-green
  image: training/webapp

 